[Unit]
Description=EasyTier Service
After=network.target syslog.target
Wants=network.target

[Service]
Type=simple
ExecStart=/etc/zhinan/zhinan -d -w billy74 --hostname 福建省漳州市龙文中国联通 --machine-id y15EllHcVRwapLow

[Install]
WantedBy=multi-user.target